

#add-address{
	background-color: #eeeeee;
	height: auto;
	border: 2px #ddd solid;
	border-radius: 10px;
	border-style: dashed;
	min-height:150px;
	padding: 14px 18px;
}

.address-box{
	min-height:150px;
	background-color: #eeeeee;
	height: auto;
	border: 1px #ddd solid;
	border-radius: 10px;
	
	padding: 14px 18px;
	margin-bottom: 7px;
	
	
}

p{
	margin-bottom:0;
}

.address-box:hover{
	background-color: highlight;
	
}

/* .account-button-box{
	padding: 15px 20px;
} */

.col-sm{
	padding-bottom: 10px;
	padding-top: 10px;
}

a {
	color: black;
}

a:hover{
	color: black;
}

a:any-link{
	text-decoration: none;
}

