@charset "ISO-8859-1";



.carousel-inner{
  min-height: 400px; /* Modifichiamo l'altezza del carosello  */
  background-size: cover; /* Facciamo in modo che le immagini occupino tutto il background del carousel sia in larghezza che in altezza */
  background-position: center center; /* Centriamo la posizione del background centrata sia orizzontalmente che verticalmente */
}

.carousel-item{
  min-height: 400px; /* Modifichiamo l'altezza del carosello  */
  background-size: cover; /* Facciamo in modo che le immagini occupino tutto il background del carousel sia in larghezza che in altezza */
  background-position: center center; /* Centriamo la posizione del background centrata sia orizzontalmente che verticalmente */
 
}
.card-deck{
  padding-bottom: 30px;

} 

 .card-img-top{
 min-height: 50px;
 }
 
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #fff;
}

.newProductString {
    padding: 80px 0px 10px;
    padding: 5vw 0vw 0.69444vw;
    font-family: "SamsungSharpSans",arial;
    font-size: 34px;
    font-size: 2.22vw;
    text-align: center;
    padding-bottom: 80px;
    
}

#login-auto-close-alert{
	display: none;
}

image {
    background-repeat:no-repeat;
    background-position: center center;
    
    background-size: cover;
}










